<nav>
    <ul>
        <strong>Palette Master</strong>
    </ul>
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink href="counter">
                Counter
            </NavLink>
        </li>
        <li>
            <NavLink href="weather">
                Weather
            </NavLink>
        </li>
        <li>
            <NavLink href="palettes">
                Palettes
            </NavLink>
        </li>
        <li>
            <NavLink href="ProcessFolder">
                Process Folder
            </NavLink>
        </li>
        
    </ul>
</nav>